.border-bg-left {
    width: 20px;
}

.user-container {
    height: 65px;
    cursor: pointer;
}

.user-name {
    border: 1px solid #bdbdbd;
    width: 100%;
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
}