.container-hero {
  position: relative;
}
.hero-section {
  background: url("../../../assets/hero-section.webp");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(40%);
}

.bg-cards {
  background-color: rgb(73, 121, 255);
}

@media only screen and (max-width: 600px) {
  .hero-section {
    height: 40vh;
  }
}
